In [2]:
#Import dependencies
import pandas as pd
import gmaps
import requests
#Import the API key
from config import g_key

In [3]:
#Store the csv you saved created in part one into a data frame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Port Alfred,ZA,2021-10-01 13:30:30,-33.5906,26.8910,66.42,83,61,17.52
1,1,Saint-Philippe,RE,2021-10-01 13:30:31,-21.3585,55.7679,76.59,75,31,12.46
2,2,Beloha,MG,2021-10-01 13:30:31,-25.1667,45.0500,84.42,42,0,11.30
3,3,Nanortalik,GL,2021-10-01 13:30:32,60.1432,-45.2371,41.45,49,0,7.45
4,4,Lompoc,US,2021-10-01 13:28:04,34.6391,-120.4579,67.57,71,1,0.00

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level = 1.6)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                dissipating = False, max_intensity = 300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of Wind Spped
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Saint-Philippe,RE,2021-10-01 13:30:31,-21.3585,55.7679,76.59,75,31,12.46
2,2,Beloha,MG,2021-10-01 13:30:31,-25.1667,45.0500,84.42,42,0,11.30
15,15,Bengkulu,ID,2021-10-01 13:30:35,-3.8004,102.2655,78.01,85,100,5.03
17,17,Chokwe,MZ,2021-10-01 13:30:35,-24.5333,32.9833,86.88,38,33,2.55
21,21,Kalawit,PH,2021-10-01 13:30:36,8.0667,122.5167,80.62,80,77,3.11
22,22,Meulaboh,ID,2021-10-01 13:30:37,4.1363,96.1285,75.49,85,100,4.03
27,27,Poum,NC,2021-10-01 13:30:38,-20.2333,164.0167,75.09,86,100,22.39
29,29,Kahului,US,2021-10-01 13:30:39,20.8947,-156.4700,76.26,82,75,9.22
35,35,Arraial Do Cabo,BR,2021-10-01 13:29:18,-22.9661,-42.0278,76.96,78,40,20.71
37,37,Ribeira Grande,PT,2021-10-01 13:30:41,38.5167,-28.7000,75.60,83,40,9.22

In [18]:
preferred_cities_df.count()

City_ID       196
City          196
Country       196
Date          196
Lat           196
Lng           196
Max Temp      196
Humidity      196
Cloudiness    196
Wind Speed    196
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1    Saint-Philippe      RE     76.59 -21.3585   55.7679
2            Beloha      MG     84.42 -25.1667   45.0500
15         Bengkulu      ID     78.01  -3.8004  102.2655
17           Chokwe      MZ     86.88 -24.5333   32.9833
21          Kalawit      PH     80.62   8.0667  122.5167
22         Meulaboh      ID     75.49   4.1363   96.1285
27             Poum      NC     75.09 -20.2333  164.0167
29          Kahului      US     76.26  20.8947 -156.4700
35  Arraial Do Cabo      BR     76.96 -22.9661  -42.0278
37   Ribeira Grande      PT     75.60  38.5167  -28.7000

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    #Add the latitude and longitude to location key for the marams dictionary
    params["location"] = f"{lat},{lng}"
    
    #Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Saint-Philippe,RE,76.59,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
2,Beloha,MG,84.42,-25.1667,45.0500,
15,Bengkulu,ID,78.01,-3.8004,102.2655,Grage Hotel Bengkulu
17,Chokwe,MZ,86.88,-24.5333,32.9833,Complexo Sonho Real
21,Kalawit,PH,80.62,8.0667,122.5167,Ompoy Pension House
22,Meulaboh,ID,75.49,4.1363,96.1285,Kost Pria
27,Poum,NC,75.09,-20.2333,164.0167,Gîte kajeon
29,Kahului,US,76.26,20.8947,-156.4700,Maui Seaside Hotel
35,Arraial Do Cabo,BR,76.96,-22.9661,-42.0278,Pousada Porto Praia
37,Ribeira Grande,PT,75.60,38.5167,-28.7000,Quinta da Meia Eira

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))